<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Category: <%=category%></h1>
    
    <!-- For loop to put items here -->
    <ul>
      <% itemsList.forEach(itemsObject => { %>
      <li>
        <a><%= itemsObject.item %></a>

        <form  method="POST">
          <input type="text" name="newItemName" value="<%=itemsObject.item%>">
          <button type="submit" formaction="/<%=categoryID%>/update/<%=itemsObject.id%>">Update</button>
          <button type="submit" formaction="/<%=categoryID%>/delete/<%=itemsObject.id%>">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <!-- Create item form -->
    <form action="/<%=categoryID%>/createItem" method="POST">
      <label for="item">Create category:</label>
      <input type="text" name="item" id="item">
      <button type="submit">Create Item</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
